@charset "utf-8";

/*
* CSS-Design
* Stroop game
*/


/* Layout **********************/

body {
    display: flex;
    justify-content: center;
    margin: 0;
    background-image: url("../images/6728670.jpg");
}

#game-area {
    position: relative;
    height: 100vh;
    display: block;
}

header {
    display: inline-flex;
    width: 1050px;
    padding-top: 2rem;
    padding-bottom: 2rem;
    max-height: 5rem;
    background-color: #c4ffba;
    align-items: center;
}

#score {
    font-family: 'Press Start 2P', cursive;
    font-size: 1rem;
    color: #000000;
    padding-left: 1rem;
}

#timer {
    font-family: 'Press Start 2P', cursive;
    font-size: 1rem;
    color: #000000;
    padding-left: 4rem;
}

main {
    text-align: center;
    align-items: center;
    max-width: 1050px;
}

.wrapper {
    text-align: center;
    align-items: center;
    max-width: 1050px;
    height: 100vh;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
}

.container {
    display: inline-flex;
    padding-top: 8rem;
    text-align: center;
    align-items: center;
}

#colouredWords {
    border-color: #FF0A33;
}

.col1 {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    padding-top: 10rem;
}

h2 {
    font-family: 'Ranchers', cursive;
    font-size: 4rem;
}


/* blue button ***********/

#Blue.hexagon.colourbtn {
    width: 100px;
    height: 57.735px;
    position: relative;
    margin: 1rem;
    background-color: #1FB4FF;
}

#Blue.hexagon.colourbtn::before {
    content: "";
    position: absolute;
    top: -28.8675px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 28.8675px solid #1FB4FF;
}

#Blue.hexagon.colourbtn::after {
    content: "";
    position: absolute;
    bottom: -28.8675px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 28.8675px solid #1FB4FF;
}


/*  green button ********************/

#Green.hexagon.colourbtn {
    width: 100px;
    height: 57.735px;
    position: relative;
    margin: 1rem;
    background-color: #70FF57;
}

#Green.hexagon.colourbtn::before {
    content: "";
    position: absolute;
    top: -28.8675px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 28.8675px solid #70FF57;
}

#Green.hexagon.colourbtn::after {
    content: "";
    position: absolute;
    bottom: -28.8675px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 28.8675px solid #70FF57;
}


/* Red button *********************/

#Red.hexagon.colourbtn {
    width: 100px;
    height: 57.735px;
    position: relative;
    margin: 1rem;
    background-color: #FF0A33;
}

#Red.hexagon.colourbtn::before {
    content: "";
    position: absolute;
    top: -28.8675px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 28.8675px solid #FF0A33;
}

#Red.hexagon.colourbtn::after {
    content: "";
    position: absolute;
    bottom: -28.8675px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 28.8675px solid #FF0A33;
}


/* Yellow button *********************/

#Yellow.hexagon.colourbtn {
    width: 100px;
    height: 57.735px;
    position: relative;
    margin: 1rem;
    background-color: #fafa33;
}

#Yellow.hexagon.colourbtn::before {
    content: "";
    position: absolute;
    top: -28.8675px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 28.8675px solid #fafa33;
}

#Yellow.hexagon.colourbtn::after {
    content: "";
    position: absolute;
    bottom: -28.8675px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 28.8675px solid #fafa33;
}


/* Purple button *********************/

#Purple.hexagon.colourbtn {
    width: 100px;
    height: 57.735px;
    position: relative;
    margin: 1rem;
    background-color: #BB4DFF;
}

#Purple.hexagon.colourbtn::before {
    content: "";
    position: absolute;
    top: -28.8675px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 28.8675px solid #BB4DFF;
}

#Purple.hexagon.colourbtn::after {
    content: "";
    position: absolute;
    bottom: -28.8675px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 28.8675px solid #BB4DFF;
}