@charset "utf-8";

/*
* CSS-Design
* Stroop game
*/


/* Layout **********************/

body {
    display: flex;
    justify-content: center;
    margin: 0;
    background-image: url("../images/bg77.jpg");
    background-size: contain;
    font-family: 'Roboto';
}

#game-area {
    position: relative;
    height: 100vh;
    display: block;
}

header {
    display: inline-flex;
    width: fit-content;
    margin-top: 2rem;
    margin-bottom: 2rem;
    height: 2.5rem;
    background-color: #c4ffba;
    align-items: center;
    border-radius: 10rem;
    margin-left: 0rem;
}

#score {
    font-family: 'Press Start 2P', cursive;
    font-size: 1rem;
    color: #000000;
    padding-left: 1rem;
}

#timer {
    font-family: 'Press Start 2P', cursive;
    font-size: 1rem;
    color: #000000;
    padding-left: 4rem;
}

main {
    text-align: center;
    align-items: center;
    max-width: 1050px;
}

.wrapper {
    text-align: center;
    align-items: center;
    width: 70rem;
    height: 30rem;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
    border-radius: 900px;
    background-image: url("../images/bg70sm.jpg");
    margin-top: 1rem;
}

.container {
    display: inline-flex;
    text-align: center;
    align-items: center;
    margin-top: 1rem;
    flex-wrap: wrap;
    justify-content: center;
}

.break {
    flex-basis: 100%;
    height: 0;
}

.instructions {
    display: block;
    max-width: 50%;
    margin-top: 0.8rem;
    color: #505050;
    font-family: 'Roboto', cursive;
    font-size: 1.3rem;
}

h3 {
    font-size: 2rem;
    font-family: 'Press Start 2P', cursive;
    margin-top: 2rem;
    margin-bottom: 1rem;
    color: #8aa974;
}

#colouredWords {
    border-color: transparent;
}

.col1 {
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    padding-top: 5rem;
}

h2 {
    font-family: 'Ranchers', cursive;
    font-size: 4rem;
}

a {
    text-decoration: none;
    color: transparent;
}

.distraction {
    background: #FFFF00;
}


/* blue button ***********/

#Blue.hexagon.colourbtn {
    width: 100px;
    position: relative;
    margin: 1rem;
    overflow: hidden;
}

#Blue img {
    width: 100%;
}

#Green img {
    width: 100%;
}

#Red img {
    width: 100%;
}

#Yellow img {
    width: 100%;
}

#Purple img {
    width: 100%;
}


/*  green button ********************/

#Green.hexagon.colourbtn {
    width: 100px;
    position: relative;
    margin: 1rem;
    overflow: hidden;
}


/* Red button *********************/

#Red.hexagon.colourbtn {
    width: 100px;
    position: relative;
    margin: 1rem;
    overflow: hidden;
}


/* Yellow button *********************/

#Yellow.hexagon.colourbtn {
    width: 100px;
    position: relative;
    margin: 1rem;
    overflow: hidden;
}


/* Purple button *********************/

#Purple.hexagon.colourbtn {
    width: 100px;
    position: relative;
    margin: 1rem;
    overflow: hidden;
}

#Blue.hexagon.colourbtn:hover,
#Blue.hexagon.colourbtn:focus,
#Green.hexagon.colourbtn:hover,
#Green.hexagon.colourbtn:focus,
#Red.hexagon.colourbtn:hover,
#Red.hexagon.colourbtn:focus,
#Yellow.hexagon.colourbtn:hover,
#Yellow.hexagon.colourbtn:focus,
#Purple.hexagon.colourbtn:hover,
#Purple.hexagon.colourbtn:focus {
    box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
    transform: translateY(-0.25em);
}

h1 {
    margin-top: 0px;
    font-family: 'Press Start 2P', cursive;
    font-size: 6rem;
    background: linear-gradient(to right, #ef5350, #f48fb1, #7e57c2, #2196f3, #26c6da, #43a047, #eeff41, #f9a825, #ff5722);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#play {
    text-align: center;
    display: block;
    margin: 2px;
    font-weight: bold;
    padding: 10px 0 10px 10px;
    background-color: #ff9b9b;
    text-shadow: -1px -1px black, 1px 1px white;
    color: gray;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -o-border-radius: 7px;
    border-radius: 7px;
    box-shadow: 0 .2em gray;
    cursor: pointer;
    font-family: 'Press Start 2P', cursive;
    font-size: 2.5rem;
}

#play:active {
    box-shadow: none;
    position: relative;
    top: .2em;
}

#replay {
    text-align: center;
    display: inline-block;
    margin: 2px;
    font-weight: bold;
    padding: 10px 0 10px 10px;
    background-color: #fff426;
    text-shadow: -1px -1px black, 1px 1px white;
    color: gray;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -o-border-radius: 7px;
    border-radius: 7px;
    box-shadow: 0 .2em gray;
    cursor: pointer;
    font-family: 'Press Start 2P', cursive;
    font-size: 2.5rem;
}

#replay:active {
    box-shadow: none;
    position: relative;
    top: .2em;
}

.gameOver {
    text-align: center;
    display: inline-block;
    margin: 2px;
    margin-left: 2rem;
    font-weight: bold;
    padding: 10px 0 10px 10px;
    background-color: #700ba9;
    text-shadow: -1px -1px black, 1px 1px white;
    color: #ab9595;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -o-border-radius: 7px;
    border-radius: 7px;
    box-shadow: 0 .2em gray;
    font-family: 'Press Start 2P', cursive;
    font-size: 2.5rem;
}

.gameOver:active {
    box-shadow: none;
    position: relative;
    top: .2em;
}

.newScore {
    text-align: center;
    margin: 2px;
    margin-top: 5rem;
    font-weight: bold;
    padding: 10px 0 10px 10px;
    background-color: #ff00b7;
    text-shadow: -1px -1px black, 1px 1px white;
    color: #979797;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -o-border-radius: 7px;
    border-radius: 7px;
    box-shadow: 0 .2em gray;
    font-family: 'Press Start 2P', cursive;
    font-size: 2.5rem;
    width: fit-content;
}

.newScore:active {
    box-shadow: none;
    position: relative;
    top: .2em;
}

.fit-content {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}


/* Media Queries * * * * * * * * */

@media only screen and (max-width: 759px) {
    body,
    #game-area {
        width: 100%;
    }
    body {
        background-repeat: round;
        background-size: cover;
    }
    .container {
        flex-wrap: nowrap;
    }
    #startpage.container {
        flex-wrap: wrap;
    }
    #Blue.hexagon.colourbtn,
    #Green.hexagon.colourbtn,
    #Red.hexagon.colourbtn,
    #Yellow.hexagon.colourbtn,
    #Purple.hexagon.colourbtn {
        margin: 0rem;
    }
    .wrapper {
        margin-left: 0rem;
        width: 99%
    }
    header {
        margin-left: 2rem;
    }
    h1 {
        font-size: 4rem;
    }
    .gameOver,
    #replay {
        font-size: 2rem;
        margin-top: 0.5rem;
    }
    img {
        max-width: 80%;
    }
    .instructions {
        display: none;
    }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    body,
    #game-area {
        width: 100%;
    }
    .container {
        flex-wrap: nowrap;
    }
    #startpage.container {
        flex-wrap: wrap;
    }
    .instructions {
        display: none;
    }
    body {
        background-repeat: round;
        background-size: cover;
    }
    #Blue.hexagon.colourbtn,
    #Green.hexagon.colourbtn,
    #Red.hexagon.colourbtn,
    #Yellow.hexagon.colourbtn,
    #Purple.hexagon.colourbtn {
        margin: 0rem;
        width: unset;
    }
    .wrapper {
        margin-left: 0rem;
        width: 99%
    }
    header {
        margin-left: 1rem;
        display: inline-flex;
        width: 20rem;
    }
    h1 {
        font-size: 2rem;
    }
    .gameOver,
    #replay {
        font-size: 2rem;
        margin-left: 0rem;
        margin-top: 0.5rem;
    }
    img {
        max-width: 90%;
        margin-top: 1rem;
    }
    #timer,
    #score {
        font-size: 0.7rem;
        padding-left: 1rem;
    }
    .newScore {
        font-size: 2rem;
    }
}